/* Cindy La */

body
{
  background-color: #d2b48c;
}

header
{
  background-color: #8b4513;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#coupon
{
  position: fixed;
  bottom: 210px;
  left: -85px;
}

#award
{
  position: absolute;
  left: 350px;
  top: 35px;
}

h1
{
  font-family: sans-serif;
  color: #8b4513;
}

a
{
  color: #8b4513;
}

section.maincontent
{
  margin-left: 10px;
  margin-right: 340px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url( "background.gif" );
  padding: 15px;
}

p
{
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 0px;
  font-family: sans-serif;
}

aside
{
  background-image: url( "background.gif" );
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 280px;
  float: right;
  padding: 15px;
  text-align: left;
}

.beanmachineimage
{
  text-align: center;
  margin-top: auto;
}

p.motto
{
  line-height: 10px;
  text-align: center;
  padding-bottom: none;
}

p.mottobottom
{
  line-height: 10px;
  text-align: center;
  padding-bottom: 15px;
}

footer
{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #8b4513;
  padding: 25px;
  color: #d2b48c;
  text-align: center;
  clear: both;
}
