#motto
{
  font-size: 0.8em;
  font-style: italic;
  color: SteelBlue;
}

#logo
{
  font-variant: small-caps;
}

h1
{
  color: #0a5199;
}

h2, h3
{
  color: SteelBlue;
}

tr:nth-child(even)
{
  background: LightBlue;
}

tr:nth-child(odd)
{
  background: LightCyan;
}

table, tr, td
{
  border: solid 1px;
  border-collapse: collapse;
}

:visited
{
  color: IndianRed;
}

:link
{
  color: LightCoral;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.phone_number
{
  color: IndianRed;
  font-weight: bold;
}

.heading
{
  font-weight: bold;
}

ul
{
  list-style-type: circle;
}

p, ul, ol, table
{
  font-family: sans-serif;
}
